body {
    margin: 0;
    padding: 0;;
    overflow: hidden;
}

.wrapper {
    height: auto;
    background: #000000;

    /*This part is important for centering*/
    display: grid;
    place-items: center;
}

.portrait {
    font-size: small; /* Adjust the font size accordingly */
    line-height: 100%; /* Adjust the line height accordingly */
    background: url(asta.jpeg) fixed center no-repeat;
    background-size: contain;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}